body {
	background-color: #331E38;
	margin: 0;
}	
.topnav h1 {
	font-family: 'Apple Chancery', cursive;
	font-size: 26px;
	color: #F4E8C1;
	text-align: left;
	padding-left: 0%;
	padding-right: 1%;
	opacity: 0.9;
	margin: 0;
	margin-top: 10px;
	display: flex;
	justify-content: flex-start;
	text-shadow: 0 0 20px #A0C1B9;
}
header {
	padding: 5%;
	background-position: fixed;
	background-size: cover;
	height: 150px;
	top: 0;
	margin-left: 5%;
	margin-right: 5%;
}
/* Navigacija */
.topnav {
	background-color: #706993;
	overflow: hidden;
	position: sticky;
	top:0;
	opacity: 0.8;
	z-index: 1;
	padding-top: .2%;
	height: 60px;
	display: flex;
	justify-content: space-evenly;
	margin-left: 5%;
	margin-right: 5%;
	border-radius: 0 0 23px 23px;
	border-top: none;
}
.topnav-cent {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	float: right;
	padding-top: .8%;
}
form.sbar {
	display: flex;
	border-radius: 23px;
	padding: 2px;
	margin-right: 10%;
}
input[type="search"].src {
	border: none;
	background: transparent;
	margin: 0;
	font-size: 15px;
	background-color: #331E38;
	border-radius: 23px 0 0 23px;
	border: 2px solid #70A0AF;
	padding-left: 20px;
	border-right: none;
	height: 80%;
	margin-top: 2%;
	color: #F4E8C1;
	outline: none;
}
input[type="search"].src::placeholder{
	color: #F4E8C1;
	opacity: 0.6;
}
button[type="submit"].sbtn {
	background-color: #331E38;
	overflow: visible;
	padding: 0;
	margin: 0;
	border: 2px solid #70A0AF;
	border-radius: 0 23px 23px 0;
	border-left: none;
	cursor: pointer;
	background-image: url('../slike/scan.png');
	background-size: 28px;
	background-repeat: no-repeat;
	text-align: center;
	width: 30px;
    height: 80%;
	font-size: 20px;
	margin-top: 2%;
	background-position: center left;
	padding-right: 40px;
}
a.meni {
	float: right;
	color:#F4E8C1;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 10px;
	padding-right: 15px;
	padding-left: 10px;
	text-decoration: none;
	font-size: 17px;
	font-family: 'Lucida Console', Monospace;
	text-transform: capitalize;
	letter-spacing: .3px;
	font-weight: bold;
}
a.meni:hover {
	color: #70A0AF;
	transition: all 0.3s ease-out;
	opacity: 1;
}
a.acmeni {
	float: right;
	color:#70A0AF;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 10px;
	padding-right: 15px;
	padding-right: 15px;
	padding-left: 10px;
	text-decoration: none;
	font-size: 17px;
	font-family: 'Lucida Console', Monospace;
	text-transform: capitalize;
	letter-spacing: .3px;
	font-weight: bold;
}
a.acmeni:hover {
	color: #70A0AF;
	transition: all 0.3s ease-out;
	opacity: 1;
}
.slika {
	float:left;
	position: cover;
	height:50px;
	padding-left:30px;
	padding-right:10px;
	padding-top: 1px;
}

/* Move to top */
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: transparent;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 40px;
	background-image: url('../slike/top.png');
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: center;
	opacity: 0.8;
}
#myBtn:hover {
	opacity: 1;
}

/* Content */

.iza {
	background: #706993;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: block;
	padding: 30px;
	margin-left: 5%;
	margin-right: 5%;
	border-radius: 23px;
	margin-top: 20px;
}