/* Login preko ekrana*/

/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 8px 0;
	display: inline-block;
	border: 2px solid #70A0AF;
	box-sizing: border-box;
}

/* Extra styles for the cancel button */
.logcancel {
	width: auto;
	padding-bottom: 7px;
	padding-top: 7px;
	background-color: #f44336;
	border: 0;
	text-decoration: none;
	font-size: 15px;
	font-family: 'Lucida Console', Monospace;
	border-radius: 50px;
	width: 20%;
	display: block;
	margin-left: 11%;
	margin-right: auto;
	float: left;
}
.logcancel:hover {
	background-color: #70A0AF;
	color: #F4E8C1;
	transition: all 0.3s ease-out;
	opacity: 1;
}
/* Center the image and position the close button */
.logimgcontainer {
	text-align: center;
	margin-top: 0;
	position: cover;
}

img.logavatar {
	width: 100%;  
	border-radius: 50px 50px 0 0;
	object-fit: contain;
}

.logcontainer {
	padding: 5%;
	padding-top: 5%;
	margin-bottom: 2%;
}
.logcontainer-log {
	padding-bottom: 15px;
	padding-top: 0;
	padding-right: 20px;
	padding-left: 20px;
}
.cancelrub {
	padding-bottom: 1%;
}
a.logpass {
	color:#70A0AF;
	text-decoration: none;
}
a.logpass:hover {
	background-color: #70A0AF;
	color: #F4E8C1;
	transition: all 0.3s ease-out;
	opacity: 1;
}
span.psw {
	float: right;
	width: auto;
	padding-top: 0;
	text-decoration: none;
	font-size: 15px;
	font-family: 'Lucida Console', Monospace;
	border-radius: 10px;
	margin-left: auto;
	margin-right: 11%;;
}

/* The Modal (background) */
.logmodal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 999; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: grey; /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	padding-top: 40px;
	backdrop-filter: blur(10px);
}

/* Modal Content/Box */
.logmodal-content {
	background-color: #706993;
	margin: auto; /* 5% from the top, 15% from the bottom and centered */
	border: 2px solid #70A0AF;
	width: 30%; /* Could be more or less, depending on screen size */
	border-radius: 50px;
	opacity: 0.9;
	overflow: auto;
}

/* Add Zoom Animation */
.loganimate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
  
}

@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
.logus {
	color:#F4E8C1;
	text-align: left;
	padding-top: 5px;
	padding-left: 15%;
	text-decoration: none;
	font-size: 17px;
	font-family: 'Lucida Console', Monospace;
	display: block;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.loguser {
	color:#F4E8C1;
	text-align: left;
	padding-top: 5px;
	padding-left: 15%;
	text-decoration: none;
	font-size: 17px;
	font-family: 'Lucida Console', Monospace;
	display: block;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.smail {
	color:#F4E8C1;
	text-align: left;
	padding-top: 5px;
	padding-left: 15%;
	text-decoration: none;
	font-size: 17px;
	font-family: 'Lucida Console', Monospace;
	display: block;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.spasw {
	color:#F4E8C1;
	text-align: left;
	padding-top: 5px;
	padding-left: 15%;
	text-decoration: none;
	font-size: 17px;
	font-family: 'Lucida Console', Monospace;
	display: block;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
input.login{
	background-color: #331E38;
	font-family: 'Lucida Console', Monospace;
	font-size: 15px;
	padding-left: 15px;
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
input.login:hover, input.login:focus {
	background-color: #F4E8C1;
}

.login123 {
	width: auto;
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: #331E38;
	color: #F4E8C1;
	border: 0;
	text-decoration: none;
	font-size: 15px;
	font-family: 'Lucida Console', Monospace;
	border-radius: 30px;
	width: 25%;
	margin-left: 35%;
	margin-right: auto;
	margin-bottom: 2%;
}
.login123:hover {
	background-color: #70A0AF;
	color: #F4E8C1;
	transition: all 0.3s ease-out;
	opacity: 1;
}
.logcheck {
	width: 30%;
	display: block;
	margin-left: 15%;
	margin-right: auto;
	padding-bottom: 10px;
	text-decoration: none;
	font-size: 15px;
	font-family: 'Lucida Console', Monospace;
	color: #F4E8C1;
}
.fa {
	float: center;
	text-align: center;
	margin-right: 25%;
	position: cover;
	opacity: 0.8;
	display: inline-block;
}
img.fa-ikona {
	width: 6%;
	object-fit: contain;
	padding-right: 1%;
	transition: all 0.3s ease-out;
	opacity: 0.8;
}
img.fa-ikona:hover {
	opacity: 1;
	width: 7%;
}
span.fa-or {
	font-size: 17px;
	font-family: 'Lucida Console', Monospace;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #70A0AF;
	padding-left: 1%;
	padding-right: 1%;
	border-radius: 50px;
	margin-left: 35%;
	padding-top: 1%;
}
.ikona-fa {
	float: left;
	width: 100%;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 18%;
}
@media only screen and (max-width: 992px) {
	.logmodal-content {
		width: auto;
		height: auto;
		margin: 0 !important;
	}
	.logmodal {
		margin: 0 !important;
		padding-top: 10px;
	}
	.logus {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin: 0 !important;
		margin-bottom: 0 !important;
		padding-left: 7% !important;

	}
	input.login{
		width: 90%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
	}
	.logcheck {
		width: 100%;
		margin-left: 5%;
	}
	.login123 {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
		display: block;
		padding-top: 3%;
		padding-bottom: 3%;
	}
	.fa {
		margin-right: auto;
	}
	span.fa-or {
		margin-left: auto;
		margin-bottom: 5px;
	}
	.ikona-fa {
		margin-left: auto;
		justify-content: center;
	}
	.logcancel {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 20px;
		margin-top: 10px;
		display: flex;
		float: center;
		justify-content: center;
	}
	span.psw {
		float: center;
		width: 100%;
		padding-top: 0;
		text-decoration: none;
		font-size: 15px;
		font-family: 'Lucida Console', Monospace;
		border-radius: 10px;
		margin-left: auto !important;
		margin-right: auto !important;
		display: flex;
		justify-content: center;
	}
	.logcontainer-log {
		padding-bottom: 15px;
		padding-top: 0;
		padding-right: 20px;
		padding-left: 20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	img.fa-ikona {
		width: 10%;
		object-fit: contain;
		padding-right: 1%;
		opacity: 1;
		padding-top: 10px;
	}
	img.fa-ikona:hover {
		opacity: 1;
		width: 10%;
	}
}